
.navbar{
    height: 70px;

}
.heading{
     font-size: 30px;
   font-weight: 700px;
    font-family: cursive;
}
.search-bar{
   margin-right:10px;
   margin-left: 1180px;
    width: 260px;
    height: 50px;
    background-color: rgb(234, 224, 224);
   border: transparent;
    border-radius:8px;
    text-align: center;

}
.icon{
    width: 45px;
    height: 45px;
    position: fixed;
}
.list{
list-style: none;
margin-left: 1182px;
border: solid rgb(189, 185, 189);
background-color: rgb(228, 215, 229) ;
border-radius: 7px;
width: 258px;

}
.glass{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.glass:hover{
    color: blueviolet;
}

.search-user-dp{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 10px;
}